@media (max-width: 550px) {
  nav ul { display: none; }
  nav ul.mobileIndex { display: inline-block; }
}

header, footer {
  background-color: navy;
  margin-bottom: 3%;
}

header  ul {
  list-style-type: none;
  margin-bottom: 0;
}

header  li {
  margin-bottom: 0;
}

header  a {
  text-decoration: none;
  float: none;
  color: white;
  font-size: 1em;
  padding-right: 4em;
}

footer {
  background-color: navy;
  margin-bottom: 20px;
}

footer  ul {
  list-style-type: none;
  margin-bottom: 0;
}

footer  li {
  margin-bottom: 0;
}

footer  a {
  text-decoration: none;
  float: none;
  color: white;
  font-size: 1em;
  padding-right: 4em;
}

nav .mobileIndex {
  display: none;
  background-color: navy;
  color: white;
}

.blogHeader {
  background-color: navy;
}

.blogHeader ul {
  padding-top: 2rem;
  margin-top: 0;
  margin-bottom: o;
}

.blogHeader a {
  margin-bottom: 0;
  padding-bottom: 0;
}



.article {
  margin: 3px;
  background-color: white;
}
